[Unit]
Description=Run PKO Kantor Monitor every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=pko-rate-watcher.service

[Install]
WantedBy=timers.target
